@font-face {
  font-family: tapestry-font;
  src: url("fonts/quicksand/Quicksand-Regular.otf");
}

.tapestry-video-container {
  width: 100%;
  margin: 0 ;
  border: 0;
  min-width: 400px;
  line-height: 0;
}

.h5p-fullscreen{
  background-color: #FFFFFF;
}

/*********************
/* Icon Buttons
/*********************/

.tapestry-play-button,
.tapestry-pause-button,
.tapestry-volume-button,
.tapestry-mute-button,
.tapestry-settings-button,
.tapestry-big-screen-button,
.tapestry-small-screen-button {
  background-size: 16px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  height: 20px !important;
  width: 16px !important;
  position: absolute;
  border:0;
  opacity: 0.7;
  top: 50%;
  margin: -7px 15px 0;
  padding: 0;
}

.tapestry-play-button {
  background-image: url("images/tapestry-play.png") !important;
}
.tapestry-pause-button {
  background-image: url("images/tapestry-pause.png") !important;
}
.tapestry-volume-button {
  background-image: url("images/tapestry-volume.png") !important;
  left: 4px;
  margin: -7px 12px 0;
}
.tapestry-mute-button {
  background-image: url("images/tapestry-mute.png") !important;
  left: 4px;
  margin: -7px 12px 0;
}
.tapestry-settings-button {
  background-image: url("images/tapestry-settings.png") !important;
  left: 48px;
  margin: -7px 0 0;
}
.tapestry-big-screen-button {
  background-image: url("images/tapestry-fullscreen.png") !important;
  left: 80px;
  margin: -7px 0 0;
}
.tapestry-small-screen-button {
  background-image: url("images/tapestry-fullscreen-small.png") !important;
  left: 80px;
  margin: -7px 0 0;
}

.tapestry-play-button:hover,
.tapestry-play-button:focus,
.tapestry-pause-button:hover,
.tapestry-pause-button:focus,
.tapestry-volume-button:hover,
.tapestry-volume-button:focus,
.tapestry-mute-button:hover,
.tapestry-mute-button:focus,
.tapestry-settings-button:hover,
.tapestry-settings-button:focus,
.tapestry-big-screen-button:hover,
.tapestry-big-screen-button:focus,
.tapestry-small-screen-button:hover,
.tapestry-small-screen-button:focus {
  opacity: 1.0;
}

/**********************************
/* Left Controls (placement)
/**********************************/

.tapestry-left-controls {
  height: 100%;
  position: relative;
  float: left;
  width: 35px;
  padding: 0;
  height: 100%;
}

/**********************************
/* Right Controls (placement)
/**********************************/

.tapestry-right-controls {
  height: 100%;
  position: relative;
  float:right;
  width: 110px;
}

/**********************************
/* Volume Control
/**********************************/

.tapestry-volume-div {
  width: 34px;
  border: 0;
  padding: 0;
  float: left;
  height: 100%;
}

.tapestry-volume-div .tapestry-volume-slider {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
    height: 5px;
    outline: none;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    left: -2px !important;
    width: 50px !important;
    top: calc(50% - 40px) !important;
    background: #666;
  }

.tapestry-volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    width: 5px;
    height: 13px;
    margin: -7px 0px;
    background: #FF2DCB;
    cursor: pointer;
    border: 1px solid #9a0d50;
    border-radius: 10px;
}

.tapestry-volume-slider::-moz-range-thumb {
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 5px;
  height: 13px;
  margin: -7px 0px;
  background: #FF2DCB;
  cursor: pointer;
  border: 1px solid #9a0d50;
  border-radius: 10px;
}

/*.tapestry-volume-slider::-ms-slider-thumb{
    appearance: none;
    width: 8px;
    height: 15px;
    margin-top: 2px;
    background: #ff1bec;
    cursor: pointer;
    border: 1px solid #9a0d50;
    border-radius: 10px;
}*/

/**********************************
/* Settings Menu
/**********************************/

.tapestry-settings-dropdown-content,
.tapestry-speed-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 115px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  top: 5px;
  padding: 0;
  right: 2px;
}

.tapestry-settings-dropdown-content > button,
.tapestry-speed-dropdown-content > button {
  font-size: 10px;
  width: 100%;
  height: 20px;
  background-color: white;
  color: black;
  padding-top: 1px;
  font-family: 'tapestry-font';
  text-transform: uppercase;
  padding: 0;
  float: left;
  border-radius: 0;
  border: 1px solid #eee;
}

.tapestry-settings-dropdown-content > button:hover,
.tapestry-speed-dropdown-content > button:hover {
  background-color: #3f89ff;
  color: white;
  opacity: 1;
}

/**********************************
 * Seekers
 **********************************/

#tapestry-nav-bar > .tapestry-slider {
  position: absolute !important;
  width: calc(100% - 220px) !important;
  top: 50% !important;
  left: 50px !important;
}

.tapestry-seeker-container {
  z-index: -100;
  background-color: #333333;
  min-width: 400px;
}

.tapestry-seeker-container input[type='range'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

.tapestry-seeker-container input:focus,
.tapestry-seeker-container button:focus,
.tapestry-seeker-container input[type=range]:focus {
  outline: none !important;
}

.tapestry-selected-slider > input[type='range']::-webkit-slider-thumb {
  visibility: visible !important;
  -webkit-appearance: none !important;
   -moz-appearance: none !important;
        appearance: none !important;
  background-color: #FF2DCB;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin: -4px 0 -3px;
  opacity: 0.8;
  box-shadow: 1.2px 1.2px 0.5px grey;
  -webkit-box-shadow: 1.2px 1.2px 0.5px grey;
}

.tapestry-selected-slider > input[type='range']::-webkit-slider-thumb:hover {
  opacity: 1;
  height: 16px;
  width: 16px;
}

.tapestry-selected-slider > input[type='range']::-moz-range-thumb{
  visibility: visible !important;
  background-color: #FF2DCB;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin: -4px 0 -3px;
}

.tapestry-selected-slider > input[type='range']::-moz-range-thumb:hover {
  opacity: 1;
  height: 16px;
  width: 16px;
}

.tapestry-slider > input[type='range']::-webkit-slider-thumb {
  visibility: hidden;
}

.tapestry-slider > input[type='range']::-moz-range-thumb {
  visibility: hidden;
}

/*.tapestry-slider > input[type='range']::-ms-slider-thumb {
  visibility: hidden;
}*/

.tapestry-slider > input[type='range'] {
  -webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
  height: 7px;
  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #1BB1FF),
            color-stop(0, #000000)
        );
    background-image:
    -moz-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #1BB1FF),
          color-stop(0, #000000)
    );
}

.tapestry-slider > input[type='range']::-moz-range-track {
    background: transparent;
}
/*.tapestry-slider > input[type='range']::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 7px 0;
    color: transparent;
}*/
/*.tapestry-slider > input[type='range']{
    background-image:
    -ms-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #1BB1FF),
          color-stop(0, #000000)
    );
}*/

.tapestry-slanted-bar input[type='range']::-webkit-slider-thumb,
.tapestry-played-slanted-bar input[type='range']::-webkit-slider-thumb {
  display: none;
}

.tapestry-slanted-bar input[type='range']::-moz-range-thumb,
.tapestry-played-slanted-bar input[type='range']::-moz-range-thumb {
  visibility: hidden;
}

.tapestry-slanted-bar input[type='range']::-moz-range-track,
.tapestry-played-slanted-bar input[type='range']::-moz-range-track {
  background: transparent;
}

/*.tapestry-slanted-bar input[type='range']::-ms-slider-thumb,
.tapestry-played-slanted-bar input[type='range']::-ms-slider-thumb {
  display: none;
}*/

.tapestry-slanted-bar input[type='range'],
.tapestry-played-slanted-bar input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
      appearance: none;
  height: 7px;
  z-index: 0;
  background: #000000
}

.tapestry-played-slanted-bar input[type='range'] {
  background: #1BB1FF;
}

/**********************************
 * Other visual elements
 **********************************/

.tapestry-branch-button{
    background: url("images/branch-button.png") no-repeat scroll 0 0 transparent;
    width: 250px;
    height: 75px;
    background-size: 100% 100%;
    color: #000000;
    border:0;
    padding-left: 82px;
    font-family: 'tapestry-font';
    font-size: 15px;
    opacity:0.9;
}

.tapestry-branch-button:hover,
.tapestry-branch-button:focus {
  opacity: 1;
}

.tapestry-citation-button {
  background: url("images/citation-button.png") no-repeat scroll 0 0 transparent;
  width: 200px;
  height: 50px;
  background-size: 100% 100%;
  color: #000000;
  border:0;
  padding-top: 4px;
  font-family: 'tapestry-font';
  font-size: 15px;
  opacity:0.9;
}

.tapestry-citation-button:hover,
.tapestry-citation-button:focus {
  opacity: 1;
}

.tapestry-time-text {
  font-size: 10px;
  font-family: Arial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  color: #FFFFFF;
  width: 100%;
  min-width : 50px;
  max-height: 13px;
  margin : 0;
}

.tapestry-help-text {
  position: absolute;
  font-size: 10px;
  color: #FFFFFF;
  background-color: #111111;
  height: 12px;
  margin : 0;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
}

.tapestry-video-preview-normal{
  width: 200px;
  position: absolute;
  z-index: 100;
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

@media all and (max-width: 480px) {
  .tapestry-branch-button{
      background: url("images/branch-button.png") no-repeat scroll 0 0 transparent;
      width: 100px;
      height: 30px;
      background-size: 100% 100%;
      color: #000000;
      border:0;
      padding-left: 35px;
      font-family: tapestry-font;
      font-size: 0.4em;
      opacity:0.9;
  }
  .tapestry-citation-button{
    background: url("images/citation-button.png") no-repeat scroll 0 0 transparent;
    width: 100px;
    height: 25px;
    background-size: 100% 100%;
    color: #000000;
    border:0;
    padding-top: 3px;
    font-family: tapestry-font;
    font-size: 0.4em;
    opacity:0.9;
  }
}
