.tapestry-video-container {
  width: 100%;
  margin: 0 ;
  border: 0;
  min-width: 400px;
  line-height: 0;
}

.tapestry-left-controls {
  height: 140px;
  position: relative;
  float: left;
  width: 8%;
  padding-left: 3%
}
.tapestry-play-button {
  background: url('images/tapestry-play.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  opacity: 0.9;
}
.tapestry-pause-button {
  background: url('images/tapestry-pause.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  opacity: 0.9;
}

.tapestry-right-controls{
  height: 140px;
  position: relative;
  float:right;
  width: 15%;
  padding-right: 0%;
}
.tapestry-volume-button {
  background: url('images/tapestry-volume.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 20px;
  padding-left: 6%;
  top: 50%;
  border:0;
  opacity: 0.9;
}

.tapestry-volume-div {
  height: 100%;
  position: relative;
  width: 30px;
  border:0;
  left: 10%;
}
.tapestry-volume-slider {
    -webkit-appearance: none;
    position: absolute;
    width: 50px;
    height: 5px;
    outline: none;
    transform: rotate(-90deg);
    left: -17px !important;
    width: 50px !important;
    top: 30px !important;
  }

.tapestry-volume-slider::-webkit-slider-thumb,
.tapestry-volume-slider::-moz-range-thumb,
.tapestry-volume-slider::-ms-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 7px;
    margin-top: 2px;
    background: #bcbcbc;
    cursor: pointer;
    border: 0.005px solid #000000;
}

.tapestry-settings-button {
  background: url('images/tapestry-settings.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 20px;
  padding-left: 6%;
  top: 50%;
  border:0;
  left: 40%;
  opacity: 0.9;
}

.tapestry-settings-dropdown-content , .tapestry-speed-dropdown-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    top: 30px;
}
.tapestry-settings-dropdown-content > button , .tapestry-speed-dropdown-content > button {
  position: absolute;
  font-size: 8px;
  width: 100px;
  height: 15px;
  background-color: white;
  color: black;
  padding-top: 1px;
  font-family: 'tapestry-font';
}
.tapestry-settings-dropdown-content > button:hover , .tapestry-speed-dropdown-content > button:hover {
  background-color: #3f89ff;
  color: white;
}
.tapestry-settings-dropdown-content button:nth-child(1){
  top: -15px;
}
.tapestry-settings-dropdown-content button:nth-child(2){
  top: 0px;
}
.tapestry-settings-dropdown-content button:nth-child(3){
  top: 15px;
}

.tapestry-speed-dropdown-content button:nth-child(1){
  top: -30px;
}
.tapestry-speed-dropdown-content button:nth-child(2){
  top: -15px;
}
.tapestry-speed-dropdown-content button:nth-child(3){
  top: 0px;
}
.tapestry-speed-dropdown-content button:nth-child(4){
  top: 15px;
}

.tapestry-big-screen-button {
  background: url('images/tapestry-fullscreen.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  color: #000000;
  position: absolute;
  width: 20px;
  padding-left: 10%;
  top: 50%;
  border:0;
  left: 70%;
  opacity: 0.9;
}

.tapestry-small-screen-button {
  background: url('images/tapestry-fullscreen-small.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  height: 30px !important;
  width: 30px !important;
  color: #000000;
  position: absolute;
  width: 20px;
  padding-left: 10%;
  top: 50%;
  border:0;
  left: 70%;
  opacity: 0.9;
}

.tapestry-play-button:hover , .tapestry-play-button:focus {
  background: url('images/tapestry-play.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}
.tapestry-pause-button:hover , .tapestry-pause-button:focus {
  background: url('images/tapestry-pause.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}
.tapestry-big-screen-button:hover , .tapestry-big-screen-button:focus {
  background: url('images/tapestry-fullscreen.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}
.tapestry-small-screen-button:hover , .tapestry-small-screen-button:focus {
  background: url('images/tapestry-fullscreen-small.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}
.tapestry-volume-button:hover , .tapestry-volume-button:focus {
  background: url('images/tapestry-volume.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}
.tapestry-settings-button:hover , .tapestry-settings-button:focus{
  background: url('images/tapestry-settings.png') no-repeat scroll 0 0 transparent;
  background-size: 16px;
  opacity: 1.0;
}

.tapestry-seeker-container{
  z-index: -100;
  background-color: #333333;
  min-width: 400px;
}

input[type='range'] {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.tapestry-selected-slider > input[type='range']::-webkit-slider-thumb,
.tapestry-selected-slider > input[type='range']::-moz-range-thumb,
.tapestry-selected-slider > input[type='range']::-ms-slider-thumb{
  visibility: visible !important;
  -webkit-appearance: none !important;
  background-color: #FF2DCB;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin: -4px 0 -3px;
}

.tapestry-slider > input[type='range']::-webkit-slider-thumb,
.tapestry-slider > input[type='range']::-moz-range-thumb,
.tapestry-slider > input[type='range']::-ms-slider-thumb{
  visibility: hidden;
}

.tapestry-slider > input[type='range']{
  -webkit-appearance: none;
  height: 7px;

  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #1BB1FF),
            color-stop(0, #000000)
        );

  background-image:
    -moz-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #1BB1FF),
          color-stop(0, #000000)
    );

  background-image:
    -ms-gradient(
          linear,
          left top,
          right top,
          color-stop(0, #1BB1FF),
          color-stop(0, #000000)
    );
}


.tapestry-slanted-bar input[type='range']::-webkit-slider-thumb,
.tapestry-slanted-bar input[type='range']::-moz-range-thumb,
.tapestry-slanted-bar input[type='range']::-ms-slider-thumb{
  display: none;
}

.tapestry-slanted-bar input[type='range']{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 7px;
  z-index: 0;
  background: #000000
}

.tapestry-played-slanted-bar input[type='range']::-webkit-slider-thumb,
.tapestry-played-slanted-bar input[type='range']::-moz-range-thumb,
.tapestry-played-slanted-bar input[type='range']::-ms-slider-thumb{
  display: none;
}

.tapestry-played-slanted-bar input[type='range']{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 7px;
  z-index: 0;
  background: #1BB1FF;
}

.tapestry-branch-button{
    background: url('images/branch-button.png') no-repeat scroll 0 0 transparent;
    width: 250px;
    height: 75px;
    background-size: 100% 100%;
    color: #000000;
    border:0;
    padding-left: 82px;
    font-family: 'tapestry-font';
    font-size: 15px;
    opacity:0.9;
}

.tapestry-branch-button:hover , .tapestry-branch-button:focus{
  background: url('images/branch-button.png') no-repeat scroll 0 0 transparent;
  opacity:1.0;
  background-size: 100% 100%;
}

.tapestry-citation-button{
  background: url('images/citation-button.png') no-repeat scroll 0 0 transparent;
  width: 200px;
  height: 50px;
  background-size: 100% 100%;
  color: #000000;
  border:0;
  padding-top: 4px;
  font-family: 'tapestry-font';
  font-size: 15px;
  opacity:0.9;
}

.tapestry-citation-button:hover , .tapestry-citation-button:focus{
  background: url('images/citation-button.png') no-repeat scroll 0 0 transparent;
  opacity:1.0;
  background-size: 100% 100%;
}

.tapestry-time-text{
  font-family: 'tapestry-font';
  font-size: 10px;
  color: #FFFFFF;
  margin : 0;
  min-width : 50px;
  max-height: 13px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tapestry-help-text{
  height: 12px;
  font-size: 8px;
  color: white;
  margin : 0;
  position: absolute;
  background-color: #111111;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 0px;
}

@font-face {
   font-family: tapestry-font;
   src: url('fonts/quicksand/Quicksand-Regular.otf');
}

.h5p-fullscreen{
  background-color: #FFFFFF;
}

.tapestry-video-preview-normal{
  width: 200px;
  position: absolute;
  z-index: 100;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 20px;
}

@media all and (max-width: 480px) {
  .tapestry-branch-button{
      background: url('images/branch-button.png') no-repeat scroll 0 0 transparent;
      width: 100px;
      height: 30px;
      background-size: 100% 100%;
      color: #000000;
      border:0;
      padding-left: 35px;
      font-family: 'tapestry-font';
      font-size: 0.4em;
      opacity:0.9;
  }
  .tapestry-citation-button{
    background: url('images/citation-button.png') no-repeat scroll 0 0 transparent;
    width: 100px;
    height: 25px;
    background-size: 100% 100%;
    color: #000000;
    border:0;
    padding-top: 3px;
    font-family: 'tapestry-font';
    font-size: 0.4em;
    opacity:0.9;
  }
}
