.h5p-greetingcard {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #ccc;
}
.h5p-greetingcard .greeting-image {
  width: 500px;
  height: 281px;
}
.h5p-greetingcard .greeting-text {
  width: auto;
  margin: 16px;
  font-family: georgia;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

