.h5p-greetingcard {
  width: 100%;
  margin: 0 ;
  border: 0;
}
.h5p-greetingcard .greeting-image {
  width: 500px;
  height: 281px;
}
.h5p-greetingcard .greeting-text {
  width: auto;
  margin: 0px;
  font-family: georgia;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.slanted-bar input[type='range']::-webkit-slider-thumb{
	display: none;
}
.slanted-bar input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #1BB1FF),
            color-stop(0, #000000)
        );
}

.played-slanted-bar input[type='range']::-webkit-slider-thumb{
	display: none;
}
.played-slanted-bar input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #000000),
            color-stop(0, #1BB1FF)
        );
}


.start-slider input[type='range']::-webkit-slider-thumb{
	visibility: visible;
  -webkit-appearance: none !important;
  background-color: #FF2DCB;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin-top: -3px;
}


.start-slider input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #1BB1FF),
            color-stop(0, #000000)
        );
}

.selected-slider input[type='range']::-webkit-slider-thumb{
	visibility: visible;
  -webkit-appearance: none !important;
  background-color: #FF2DCB;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  height: 14px;
  width: 14px;
  cursor: pointer;
  margin-top: -3px;
}


.selected-slider input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
}

.selected-slider {
  -webkit-appearance: none;
  -moz-apperance: none;
}

input[type='range'] {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
}

.unselected-slider input[type='range']::-webkit-slider-thumb{
	visibility: hidden;
}

.unselected-slider input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
}


.start-unselected-slider input[type='range']::-webkit-slider-thumb{
	visibility: hidden;
}

.start-unselected-slider input[type='range']::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 7px;
  background-image:
    -webkit-gradient(
            linear,
            left top,
            right top,
            color-stop(0, #1BB1FF),
            color-stop(0, #000000)
        );
}

.selected-slider {
  -webkit-appearance: none;
  -moz-apperance: none;
}


.main-container{
	z-index: -100;
	position: relative;
	height: 140px;
	width: 80%;
	background-color: #333333;
}

.left-controls {
  height: 140px;
	position: relative;
	float: left;
	width: 8%;
	padding-left: 5%
}

.pause-button{
  background: url(images/pause.png) no-repeat scroll 0 0 transparent;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  background-size: 80% 80%;
}

.play-button{
  background: url(images/play-button.png) no-repeat scroll 0 0 transparent;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  background-size: 80% 80%;
}

.right-controls{
  height: 140px;
	position: relative;
	float:right;
	width: 15%;
  padding-right: 5%
}

.speaker-button{
  background: url(images/speaker.png) no-repeat scroll 0 0 transparent;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  left: 20%;
  background-size: 100% 100%;
}

.settings-button{
  background: url(images/settings.png) no-repeat scroll 0 0 transparent;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  left: 40%;
  background-size: 100% 100%;
}

.full-screen-button{
  background: url(images/full-screen-arrows.png) no-repeat scroll 0 0 transparent;
  height: 25px;
  color: #000000;
  position: absolute;
  width: 25px;
  padding-left: 5%;
  top: 50%;
  border:0;
  left: 60%;
  background-size: 100% 100%;
}

.branch-button{
    background: url(images/branch-button.png) no-repeat scroll 0 0 transparent;
    width: 250px;
    height: 75px;
    background-size: 100% 100%;
    color: #000000;
    border:0;
    padding-left: 82px;
    font-family: 'myFont';
    font-size: 15px;
}
.time-text{
  font-family: 'myFont';
  font-size: 8px;
  color: #FFFFFF;
}

@font-face {
   font-family: myFont;
   src: url(fonts/palanquin/palanquin-semibold.ttf);
}
