@import "bootstrap";
// Fonts
//

$font-family-base:            'Roboto Condensed', sans-serif;
.btn{
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: 300;
	&:focus{
		box-shadow:none;
	}
}
.btn-primary{
	font-size: 1rem;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
}
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
body{
	font-family: $font-family-base;
	 /* Smoothing */
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	font-weight: 400;
	color: #000;
}

//
// Color system
//
$theme-colors: (
  "primary": #ff0000,
);
button:focus {
  outline: 0;
  outline: 0px auto -webkit-focus-ring-color;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.custom-logo-link{
	max-width: 100px;
}
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.site-description{
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
}
.navbar-brand{
	font-size: 30px;
	padding-right: 15px;
	// margin-left: -15px;
	a{
		font-size: 30px;
	}
}
.bg-light{
	background-color: #fff!important;
	.navbar-nav{
		.nav-link{
			color: #000;
		}
	} 
	
	.navbar-brand{
		a{
			color: #000;
		}
	}
}
.bg-dark{
	background-color: #000!important;
	.navbar-nav{
		.nav-link{
			color: #fff;
		}
	}
	
	.navbar-brand{
		a{
			color: #fff;
		}
	}
}
.navbar{
	border-bottom: 5px solid theme-color("primary");
	background-color: #fff;
	padding-left: 0px;
	padding-right: 0;
}
.navbar-expand-md{
	.navbar-nav{
		.dropdown-menu{
			transform: translateX(-50%);
			left: 50%;
			margin-top: 0;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.175);
			border-radius: 0;
			border-top: 1px solid #fdb813;
			min-width: 180px;
			&:after{
				content: '';
				position: absolute;
				left: 50%;
				top: -4px;
				margin-left: -6px;
				width: 0;
				height: 0;
				vertical-align: middle;
				border-bottom: 4px dashed #fdb813;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
			}
			.dropdown-menu{
				transform: unset;
				top: 0;
				left: 100%;
				&:after{
					content: none;
				}
			}
			>li{
				&:hover{
					.dropdown-menu{
						display: block;
					}
				}
				>a{
					white-space: nowrap;
					text-transform: none;
					font-size: 16px;
				}
			}
		}
		>li{
			position: relative;
			&:after{
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				height: 10px;
				width: 1px;
				background-color: #000;
				margin-top: -5px;
			}
			&:last-child{
				&:after{
					content: none;
				}
			}
		}
		.nav-link{
			padding-left: 1rem;
			padding-right: 1rem;
		}
	} 
} 
.nav-link{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	white-space: nowrap;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #000;
	&:hover,&:focus{
		// color: theme-color("primary");
		text-decoration: none;
		outline:0;
	}
}

a:visited {
	// color: inherit;
}
.morelink{
	display: inline-block;
	border:1px solid theme-color("primary");
	margin-top: 20px;
	font-weight: 400;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.site-content{
	// padding: 30px 0px;
}



/*--------------------------------------------------------------
# Posts and pages
--------------------------------------------------------------*/
.page-title{
	margin: 2rem 0;
	padding: 0 15px;
}
.archive-description{
	padding: 0 15px;
}
.entry-title{
	font-weight: 300;
	a{
		font-weight: 300;
	}
}
/*--------------------------------------------------------------
# Blog Layout style
--------------------------------------------------------------*/
.entry-meta{
	margin-bottom: 10px;
}

.fg-blog-post{
	margin:0 -15px;
	&:after{
		display: block;
		content: '';
		width: 100%;
		clear: both;
	}
	.post{
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.fg-gallery-grid{
		background-size: cover;
		background-position: center;
	}
	&.fullscreen{
		.fg-gallery-grid{
			width: 100%;
			margin-bottom: 10px;
		}
	}
	&.grid{
		.gallery-grid-item{
			max-width: 25%;
			width: 100%;
			float: left;
		}
		.fg-gallery-grid{
			width: 100%;
			margin-bottom: 10px;
			img{
				width: 100%;
			}
		}
	}
	&.packery{
		.gallery-grid-item{
			max-width: 25%;
			width: 100%;
			float: left;
			border: 10px solid #fff;
			&:nth-child(3n+3){
				max-width: 50%;
			}
		}
		.fg-gallery-grid{
			width: 100%;
			margin-bottom: 10px;
			img{
				width: 100%;
			}
		}
	}
	&.default{
		.post{
			max-width: 25%;
			width: 100%;
			float: left;
			&:nth-child(4n+1){
				clear: both;
			}
		}
		.fg-gallery-grid{
			width: 100%;
			margin-bottom: 10px;
			img{
				width: 100%;
			}
		}
	}
}
.col-sm-8{
	.fg-blog-post{
		&.grid{
			.post{
				max-width: 33.33%;
				width: 100%;
				float: left;
				.entry-title{
					font-size: 24px;
					height: 32px;
					overflow: hidden;
				}
			}
		}
	}
}
.post-thumbnail{
	margin-bottom: 10px;
}
/*--------------------------------------------------------------
# Bootstrap Pagination
--------------------------------------------------------------*/
.pagination{
	margin:  1rem 0;
	padding: 0 15px;
}


/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/

.site-footer {
	border-top:1px solid #ccc;
}

@media screen and (max-width: 575px) {
	.ft-wpbs .page-link {
		font-size: .7rem;
		padding: .3rem .45rem;
	}
}
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.image-gallery-format{
	.post-navigation{
		padding: 0 15px;
	}
}
.gallery-grid,
.masonry-grid,
.packery-grid,
.striped-grid {
	width: 100%;
	p{
		padding: 0 15px;
	}
}

.packery-grid {
	.gallery{
		&.gallery-columns-4{
			.gallery-item{
				width: 100%;
				max-width: 25%;
				border: 10px solid #fff;
				img{
					width: 100%;
				}
				&:nth-child(3n+3){
					max-width: 50%;
				}
			}
		}
	}
	
}
/* clearfix */
.gallery-grid:after,
.masonry-grid:after,
.packery-grid:after,
.gallery:after {
  content: '';
  display: block;
  clear: both;
}

.gallery-grid-item ,
.masonry-item,
.packery-item{
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
	a{
		display: block;
		color: #fff;
	}
	
}
.masonry-item{
	max-width: 25%;
}

.masonry-item img,
.packery-item img,
.gallery-grid-item img{
	width: 100%;
	display: block;
}
.gallery-grid-item{
	float: left;
	max-width: 25%;
}
.gallery-grid-item,
.masonry-item,
.packery-item{
	&:before{
		content: "";
	    display: block;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    background: rgba(0, 0, 0, 0.05);
	    z-index: 1;
	    -webkit-transition: background 0.3s;
	    transition: background 0.3s;
	}
	
}
.gallery-grid-item,
.masonry-item,
.packery-item{
	&:hover{
		&:before{
			background: rgba(0, 0, 0, 0.5);
		}
	}
}
.packery-item{
	&:before{
		left: 10px;
		right: 10px;
		top: 10px;
		bottom: 10px;
	}
	&.single-image{
		&:before{
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
		}
	}
	
}

.gallery_link{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
}
.single-image{
	overflow: hidden;
	&:after{
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(0);
		transform: scale(0);
		position: absolute;
		top: 30px;
		right: 30px;
		bottom: 30px;
		left: 30px;
		border: 1px solid #fff;
		content: '';
		z-index: 3;
	}
	img{
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	&:hover{
		img{
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		&:after{
			opacity: 1;
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		.icon-zoom-in{
			opacity: 1;
		}
	}
	.icon-zoom-in{
		position: absolute;
		left: 0;
		right: 0;
		padding: 15px 15px;
		text-align: center;
		color: #fff;
		font-size: 26px;
		top: 50%;
		opacity: 0;
		z-index: 2;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		transition: opacity .4s 0s;
		opacity: 0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
		transition: opacity 0.35s, transform 0.35s;
	}
}
.gallery-grid-item,
.packery-item,
.masonry-item{
	.gallery_category{
		a{
			display: inline-block;
		}
	}
	&:hover{
		.gallery_description{
			opacity: 1;
			transition: opacity .4s .2s;
		}
		.gallery_title{
			top: 0;
			transition: top .4s .2s;
		}
		.gallery_category{
			bottom: 0;
		    transition: bottom .4s .2s;
		    a{
		    	color: #fff;
		    	display: inline-block;
		    }
		}
	}
}
.gallery_description{
	position: absolute;
	left: 0;
	right: 0;
	padding: 15px 15px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	top: 50%;
    opacity: 0;
    z-index: 2;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: opacity .4s 0s;
}
.gallery_title{
	top: -15px;
    transition: top .4s 0s;
    position: relative;
}
.gallery_category{
	position: relative;
	bottom: -15px;
	transition: bottom .4s 0s;
	font-size: 16px;
}

.gallery-grid-item:hover 
.gallery-grid-item:hover 
.gallery-grid-item img{
	width: 100%;
}
.gallery_post_nav{
	
	
	.post-navigation{
		border-top: 0;
		border-bottom: 0;
		clear: both;
		margin: 0;
		width: 100%;
	}
	.nav-previous{
		-webkit-transform: translateX(-70%);
		-moz-transform: translateX(-70%);
		-ms-transform: translateX(-70%);
		transform: translateX(-70%);
		left: 0;
		&:hover{
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			transform: translateX(0%);
			background-color: rgba(255,255,255,1);
		}
	}
	.nav-next{
		-webkit-transform: translateX(70%);
		-moz-transform: translateX(70%);
		-ms-transform: translateX(70%);
		transform: translateX(70%);
		right: 0;
		&:hover{
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			transform: translateX(0%);
			background-color: rgba(255,255,255,1);
		}
	}
	.nav-previous,.nav-next{
		top: 50%;
		position: fixed;
		z-index: 99;
		width: 100%;
		background-color: rgba(255,255,255,0.5);
		width: 200px;
		height: 200px;
		margin-top: -100px;
		display: table;
		text-align: center;
		-webkit-transition: all 0.3s;
	    transition: all 0.3s;

		a{
			display: table-cell;
			vertical-align: middle;
		}
	}
}
/*--------------------------------------------------------------
#  Full Screen Gallery Style
--------------------------------------------------------------*/
body.full{
	.navbar{
		border-bottom: 0!important;
	}
	.bx-wrapper{
		margin-bottom: 0;
		border: 0;
		box-shadow: none;
		width: 100%;
		height: 100%;
		.bx-viewport{
			height: 100%!important;
			.full-grid-slider {
				width: 100%!important;
				height: 100%!important;
			}
		}
		.bx-controls-direction{
			position: absolute;
			bottom: 150px;
			height: 60px;
			background-color: #000;
			border-radius:10px;
			width: 160px;
			text-align: center;
			padding:10px 15px;
			left: 50%;
			margin-left: -80px;
			a{
				font-family: 'photolo' !important;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				font-size: 0px;
				height: auto;
				width: auto;
				position: relative;
				top: auto;
				margin: 0 15px;
				left: auto;
				right: auto;
				display: inline-block;
				background: none;
				text-indent:unset;
			}
			.bx-prev{
				&:before{
					content: "\f0d9";
					color: #fff;
					font-size: 40px;
				}
			}
			.bx-next{
				&:before{
					content: "\f0da";
					color: #fff;
					font-size: 40px;
				}
			}
		}
		.bx-pager,.bx-controls-auto{
			// bottom: 50px;
		}
	}
	.navbar-expand-md {
		.navbar-nav {
			> li{
				&:after{
					background-color: #fff;
				}
			}
		}
	}
	.bg-light{
		background-color: transparent!important;
	}
	.bg-light {
		.site-description{
			color: #fff;
		}
		.nav-link{
			color: #fff;
		}	
		.navbar-brand {
			a{
				color: #fff;
			}	
		}
	}
	.site-info{
		color: #fff;
		a{
			color: #fff;
		}
	}
}
.full-grid-slider {
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.3);
		z-index: 1;
	}
	.gallery-item{
		position: absolute;
		top: 0!important;
		left: 0;
		right: 0;
	}
}

.misha_loadmore{
	background-color: #000;
	border-radius: 2px;
	display: block;
	text-align: center;
	color: #000;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 800;
	letter-spacing:1px;
	cursor:pointer;
	text-transform: uppercase;
	padding: 10px 0;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;  
}
.misha_loadmore:hover{
	background-color: #767676;
	color: #fff;
}
@media screen and (max-width: 767px) {
	.navbar-brand{
		margin-right: 0px;
	}
	.fg-blog-post{
		.post{
			// padding-left: 0;
			// padding-right: 0px;
		}
		&.grid,&.packery,&.default{
			.gallery-grid-item,.post{
				max-width: 100%;
				display: block;
				flex: none;
			}	
		} 	
	}
	.navbar-expand-md {
		.navbar-nav {
			.dropdown-menu{
				left: 0;
				transform: unset;
				border: 0;
				&:after{
					display: none;
					content: none;
				}
			}
			> li{
				&:after{
					content: none;
				}
			}	
		}
	}
	.navbar-toggler{
		background-color: transparent;
		margin-right: 15px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
		&:active,&:hover{
			background-color: transparent;
			border-color: transparent;
		}
		&.open {
			.navbar-toggler-icon{
				&:nth-child(1){
					-webkit-transform: rotate(45deg);
				    -moz-transform: rotate(45deg);
				    -o-transform: rotate(45deg);
				    transform: rotate(45deg);
				    top: 6px;
				}
				&:nth-child(2){
					opacity: 0;
					left: -22px;
				}
			    &:nth-child(3){
					-webkit-transform: rotate(-45deg);
					-moz-transform: rotate(-45deg);
					-o-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: -6px;
			    }
			}
		}

		.navbar-toggler-icon{
			display: block;
			opacity: 1;
			left: 0;
			background-color: #fdb813 !important;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
			position: relative;
			-webkit-transform-origin: center center;
			-moz-transform-origin: center center;
			-o-transform-origin: center center;
			transform-origin: center center;
			display: block;
			width: 22px;
			height: 2px;
			border-radius: 1px;
			&+ .navbar-toggler-icon {
			    margin-top: 4px;
			}
		}
	}	
	.gallery_description{
		font-size: 18px;
	}
	.masonry-item,
	.gallery-grid-item{
		max-width: 50%;
	}
}